body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;

}

header {
    background-color:green;
}


nav {
    display:flex;
    justify-content: space-around;
}

.nav-link {
    text-decoration: none;
}

p {
    font-size: 20px;
    border-bottom:5px dotted rgb(255, 0, 0);
}

a {
    color:green;
    text-decoration:none;
    border:3px solid red;
    padding:5px;
    border-radius:7px;
    background-color:black;
}

.kart {
    text-align:center;
}

div {
    text-align:center;
}
